extends base.pug    
block style 
  link(rel="stylesheet", href="../static/style.css")
block content      
  section#introSection
    div.banner-content
      h1  Welcome to Dance Academy
      p There are shortcuts to happiness and dancing is one of them.
  section#missionSection
    div.card
      h1  Learn to Dance
      p Express Yourself 
      img(src="../static/card1.jpg", alt="")
      p.para Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque accusantium, omnis harum itaque ut sunt assumenda.
      button.btn.btn-info.btn-lg(type='button')|MORE
    div.card
      h1  About our Studio
      p Who we are 
      img(src="../static/card2.jpg", alt="")
      p.para Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque accusantium, omnis harum itaque ut sunt assumenda.
      button.btn.btn-info.btn-lg(type='button')|MORE
    div.card
      h1  Client Reviews
      p Our students say 
      img(src="../static/card3.jpg", alt="") 
      p.para Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque accusantium, omnis harum itaque ut sunt assumenda. 
      button.btn.btn-info.btn-lg(type='button')|MORE
  section#championsSection
    div.victory
      h3 Our Victory
      h1 Dance Champions
    div.championCard
      h3  Little Bird
      div.head 
        h1  Sara
        p  Baras 
    div.championCard2
      h3  Starry Eyed 
      div.head 
        h1  Carlo
        p  Blasis 
    div.championCard
      h3  Dancing Maniac
      div.head 
        h1  Anise
        p  Boyer     
  section#upcomingEvents 
    div.container
      h1 Upcoming Events 
      p Time to dance
    div.container2
      span 
        |JUL 
      p
        | January 1, 1970 @  
        time 12:00 am 
        |  - December 31, 2023 @ 
        time 09:00 pm 
    div.container3
      span
        |30 
      p Dance WOW! America 
    div.container2
      span
        |NOV 
      p
        |November 1, 1999 @  
        time 01:00 am 
        |  - December 21, 2023 @ 
        time 08:00 pm 
    div.container3
      span
        |24 
      p  The Pulse On Tour
    div.container2
      span
        |SEP 
      p
        |September 17, 2001 @  
        time 4:00 pm 
        |  - August 01, 2022 @ 
        time 04:00 am 
    div.container3
      span
        |17
      p  A Walk In The Clouds   
  section#classesSection
    div.classes
      h1 Our Classes 
      h2 Choose your style
    div.abc  
      div.styleCard
        |Hello 
        img(src="../static/1.webp", alt="") 
        button.btn2.btn-info.btn-lg(type='button')|Jazz Funk
      div.styleCard
        |Hello 
        img(src="../static/2.webp", alt="")
        button.btn2.btn-info.btn-lg(type='button')|Modern Dance
      div.styleCard
        |Hello
        img(src="../static/3.webp", alt="")
        button.btn2.btn-info.btn-lg(type='button')|House Dance    
    div.bcd
      div.styleCard
        |Hello 
        img(src="../static/4.webp", alt="")
        button.btn2.btn-info.btn-lg(type='button')|Strip Dance
      div.styleCard
        |Hello 
        img(src="../static/5.webp", alt="")
        button.btn2.btn-info.btn-lg(type='button')|Disco Dance
      div.styleCard
        |Hello            
        img(src="../static/6.webp", alt="")
        button.btn2.btn-info.btn-lg(type='button')|Tango
  section#instaSection
    div.insta 
      hr
      h1 Instagram Shots
      h2 Follow us @ instagram 
      
